.horizontal-section1 {
    margin: 30px 0;
  }
  
  .horizontal-section1 h2 {
    margin-left: 20px;
    font-size: 1.5rem;
    color: #fff;
  }
  
  .horizontal-scroll1 {
    display: flex;
    overflow-x: auto;
    padding: 0 20px;
    gap: 15px;
    scrollbar-color: #888 transparent;
    scrollbar-width: thin;
  }
  
  .horizontal-scroll1::-webkit-scrollbar {
    height: 8px;
  }
  
  .horizontal-scroll1::-webkit-scrollbar-thumb {
    background-color: #a3cc31;
    border-radius: 4px;
  }
  